* {
  font-family: cursive;
  font-size: 14px;
}
h1,
p {
  font-family: Lato;
}
.container {
  color: #c0c;
  margin: auto 5%;
  display: flex;

  justify-content: center;
  align-self: center;
  flex-direction: row;
}
.container section {
  border: 1px solid #c0c;
  background-color: #eee;

  /* flex-direction: column; */
}

.sidebar {
  flex: 1;
}

.content .content-title {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-basis: 100%;
}
.content {
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ccc;
  background-color: #fff;
  color: aqua;
  /* width: 30%; */
  flex-basis: 10em;
  height: 100px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .container {
    flex-direction: column;
  }
  .container section {
    color: #fff;
    border: 1px solid #990;
    background-color: #e99e;
    /* flex-direction: column-reverse; */
  }

  .content {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card {
    flex-direction: column;
    flex-basis: content;
  }
  .card div {
    align-items: center;
  }
}
